* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(0,0,0,0.4), transparent 1px),
	linear-gradient(90deg, rgba(0,0,0,0.4), transparent 1px);
	background-size: 30px 30px;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.game-content {
	padding: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-field {
	border: 2px solid #000;
	width: 500px;
	height: 500px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.element-field {
	border: 2px solid #000;
	position: relative;
	cursor: pointer;
}

.element-field:hover {
	background: #0000001c;
}

.game-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.game-element_o {
	width: 120px;
	height: 120px;
	border: 10px solid #ff0000;
	border-radius: 50%;
}
.game-element_x {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	height: 10px;
	width: 100%;
	background: #0000ff;
}
.game-element_x::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	height: 10px;
	width: 100%;
	background: #0000ff;
}

.result-game {
	font-size: 50px;
	padding: 10px;
}